<style>
	.main_body {
		display: flex;
		justify-content: center;
		padding-top: 50px;
	}

	.left_body {
		background-color: rgb(255, 255, 255);
		margin-right: 100px;
		width: 660px;
		height: 3000px;
		display: flex;
		flex-direction: column;
	}

	.announcement_box {
		background-color: rgb(255, 255, 255);
		width: 640px;
		margin: 10px;
		min-height: auto;
	}

	.announcement_img {
		width: 100%;
		object-fit: contain;
	}

	.announcement_content {
		padding: 0px 10px;
	}

	.announcement_txt {
		font-size: 14px;
	}

	.announcement_name {
		padding: 10px;
		display: flex;
		align-items: center;
	}

	.announcement_name_txt {
		font-size: 14px;
		padding: 0px 10px;
		font-weight: bold;
	}
</style>

{% extends 'base.html' %}

{% block content %}
<div class="main_body">
	<div class="left_body">
		<div class="border announcement_box">
			<span class="announcement_name"> 남상민 </span>
			<img class="announcement_img"
				src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F2uD9D%2FbtqSa9k7McZ%2FompUgsQh5OTxABnky9PdP1%2Fimg.png">
		</div>
		<div class="announcement_content">
			<p class="announcement_txt"><b> 남상민 </b> 공지사항 테스트 이다.</p>
		</div>
		<div class="border announcement_box">
			<span class="announcement_name"> 남상민 </span>
			<img class="announcement_img"
				src="https://cdn.ppomppu.co.kr/zboard/data3/2022/0305/900w_20220305175452_rgTgW3BKsw.jpg">
		</div>
		<div class="announcement_content">
			<p class="announcement_txt"><b> 남상민 </b> 1111111111111111111111.</p>
		</div>
	</div>
</div>
{% endblock %}