{% extends 'base.html' %}

{% block content %}
<h1>이노아이앤티 연락처</h1>

<div class="card" style="width: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">유택진 대표이사</h5>
        <p class="card-text">영업 1팀</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Sales</li>
            <li class="list-group-item">Tel : 010-0000-0000</li>
            <li class="list-group-item">E-mail : one@eknowint.co.kr</li>
        </ul>
        <a href="#" class="btn btn-primary">Contact</a>
    </div>
</div>

<div class="card" style="width: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">권영태 이사</h5>
        <p class="card-text">영업 2팀</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Sales</li>
            <li class="list-group-item">Tel : 010-0000-0000</li>
            <li class="list-group-item">E-mail : kwonyt@eknowint.co.kr</li>
        </ul>
        <a href="#" class="btn btn-primary">Contact</a>
    </div>
</div>
{% endblock %}